---
layout: default
---

  {%- if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/dataTables.bootstrap5.min.css' | relative_url }}">
    <script type="text/javascript" charset="utf8" src="{{ 'assets/js/jquery.dataTables.min.js' | relative_url }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ 'assets/js/dataTables.bootstrap5.min.js' | relative_url }}"></script>
    <script>
        $.fn.DataTable.ext.pager.numbers_length = 5;
        $(document).ready(function () {
            $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
            $('table.display').DataTable({
                lengthMenu: [ [25, 50, 100, -1], [25, 50, 100, "All"] ],
                ordering:false,
                stateSave: true,
                searching: true
            });
        });
    </script>
    {% endif %}

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more&nbsp;&#183;{% include read-time.html content=post.content %}</a>
    </article>
  {% endfor %}

  {% include pagination.html %}
</div>
