{{ define "main" }}
    <div class="row">
        {{ range .Pages }}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h5>

                        <p class="text-muted">Posted on {{ .Date.Format "January 2, 2006" }}</p>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}
