{{ define "main" }}
<div id="site-main-content-wrapper">
  <main>
    <section class="cover">
  
      <img src="/img/logos/KubeDaily-1.png"  width="300" height="300"> 
      <h2>{{ .Site.Params.description }}</h2>
      <a class="button" href="https://discord.gg/rEvr7vq">Join CloudNativeFolks Community </a>

      {{ with .Site.Params.githubRepos }}
        {{ partial "github-repos-grid" . }}
      {{ else }}
        {{ with .Site.Params.githubRepo }}
          {{ partial "github-buttons" . }}
        {{ end }}
      {{ end }}
      <h3> Thanks to all our contributors!</h3>

      <a href="https://github.com/kubernetesdaily/kubernetesdaily.github.io/graphs/contributors">
        <img src="https://contrib.rocks/image?repo=https://github.com/kubernetesdaily/kubernetesdaily.github.io" />
      </a>
      <!--  https://contrib.rocks -->
    </section>
  

   
  </main>




  
</div>
{{ end }}

