{{ $why      := site.Params.why }}
{{ $features := site.Params.features }}


<section class="hero is-primary is-medium is-bold">
  <div class="hero-body">
    <div class="container">
<style>
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}

</style>
<main class="grid">
  <article>
    <center>
    <img src="img/logos/1.png" alt="Sample photo">
      <a class="button is-secondary is-size-5 is-size-6-mobile" href="/docs/0.0.1/">
        <span>
        Docker 
        </span>
      </a>
    </center>
  </article>
  <article>
    <center>
    <img src="img/logos/2.png" alt="Sample photo">
      <a class="button is-secondary is-size-5 is-size-6-mobile" href="/docs/0.0.1/container-security/">
      <span>
      Container <br /> Security 
      </span>
      </a>
   </center>
  </article>
  <article>
    <center>
    <img src="img/logos/3.png" alt="Sample photo">
    <div class="text">
      <a class="button is-secondary is-size-5 is-size-6-mobile" href="/docs/0.0.1/k8s/">
        <span>
      kubernetes
        </span>
      </a>
    </center>
    </div>
  </article>

</main>

</section>
</div>
</div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column">
        <p class="title is-size-2 is-size-3-mobile">
         Learn with Hands-on Labs 
        </p>

        {{ range $features }}

        <p class="title is-size-4 is-size-5-mobile">
          {{ .title }}
        </p>

        <div class="content">
          {{ .text | markdownify }}
        </div>


        {{ end }}
      </div>

      <div class="column">
        

        <figure class="image">

          <link rel="stylesheet" href="./style.css">
      <div class="wrapper">
      <!-- Images Area -->
      <div class="images-area">
        <img src="/img/slider/GPS-Docker.jpg" alt="image" class="firstImage">
        <img src="/img/slider/docker-on-aws-gps2017.jpg" alt="image">
        <img src="/img/slider/DevRel-Docker_2016.jpg" alt="image">
        <img src="/img/slider/Docker-Pune-2018.jpg" alt="image">
        <img src="/img/slider/VISA.jpg" alt="image">
        <img src="/img/slider/brainanalaytics.jpg" alt="image">
        <img src="/img/slider/Citrix-R&D.jpg" alt="image">
        <img src="/img/slider/DellEMC.jpg" alt="image">
        <img src="/img/slider/KL_University.JPG" alt="image">
        <img src="/img/slider/SAP_LAB_AWARD.jpg" alt="image">
        <img src="/img/slider/SAP_LAB_KO_google.jpg" alt="image">
        <img src="/img/slider/SAPLAB1.jpg" alt="image">
        <img src="/img/slider/SAPLAB2020-team.jpg" alt="image">
        <img src="/img/slider/k8s-forum-blr-2020.jpg" alt="image">
        <img src="/img/slider/mayadata.jpg" alt="image">
        <img src="/img/slider/Rancher.jpg" alt="image">
        <img src="/img/slider/walmartlabs.jpg" alt="image">
        <img src="/img/slider/okteto.jpg" alt="image">
        <img src="/img/slider/Jfrog.jpg" alt="image">
        <img src="/img/slider/JFROG_K8s.jpg" alt="image">
        <img src="/img/slider/Docker-9th-birthday.JPG" alt="image">
        <img src="/img/slider/Rakuten.JPG" alt="image">
        <img src="/img/slider/st-paloti-nagpur.JPG" alt="image">
        <img src="/img/slider/thoughtworks.jpg" alt="image">
        <img src="/img/slider/microsoft-reactor.jpg" alt="image">
        <img src="/img/slider/Docker-Pune-2023.jpg" alt="image">
        <img src="/img/slider/CNCF-Thane.jpg" alt="image">
      </div>
      <!-- Buttons Area -->
      <div class="buttons-area">
        <div class="previous-btn">
          <i class='bx bx-chevron-left'></i>
        </div>
        <div class="next-btn">
          <i class='bx bx-chevron-right'></i>
        </div>
      </div>
      <!-- Pagination Area -->
      <div class="pagination-area">
      </div>
    </div>
      </div>
          
        </figure>
      </div>
    </div>
  </div>
</section>

