<section class="section">
  <div class="container has-text-centered box push-down">
    <div class="columns is-vcentered is-variable is-6">
      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          Originally developed by
        </p>

        <a href="https://discord.gg/rEvr7vq" target="blank">
          <img class="cloudnativefolks-logo" src="/img/logos/Cloudnativefolks-Community-Logo.png" alt="cloudnativefolks logo">
        </a>
      </div>

      <hr />

      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          
        </p>
        <div class="container">
          <img src="/img/logos/profile-pic-3.png" alt="Avatar" style="width:90px">
          <iconify-icon icon="skill-icons:linkedin"> </iconify-icon> 
          <iconify-icon icon="skill-icons:twitter"></iconify-icon>
          <iconify-icon icon="skill-icons:github-dark"></iconify-icon>
          <iconify-icon icon="skill-icons:instagram"></iconify-icon>
          <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
          <p><span>Sangam Biradar </span> | Principal Security Advocate @Deepfence.io </p>
          <p>Docker Community Leader @DockerCon2020 Award Winner </p>
        </div>
        
      
      </div>
    </div>
  </div>
</section>

<section class="section is-medium has-background-primary">
</section>
