<section class="section">
  <div class="container has-text-centered box push-down">
    <div class="columns is-vcentered is-variable is-6">
      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          Originally developed by
        </p>

        <a href="https://discord.gg/rEvr7vq" target="blank">
          <img class="cloudnativefolks-logo" src="/img/logos/Cloudnativefolks-Community-Logo.png" alt="cloudnativefolks logo">
        </a>
      </div>

      <hr />

      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          
        </p>
        <div class="container">
      <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="sangambiradar" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/sangambiradar?trk=profile-badge">Sangam B.</a></div>
              
        </div>
        
      
      </div>
    </div>
  </div>
</section>

<section class="section is-medium has-background-primary">
</section>
