<section class="section">
  <div class="container has-text-centered box push-down">
    <div class="columns is-vcentered is-variable is-6">
      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          Originally developed by
        </p>

        <a href="https://discord.gg/rEvr7vq" target="blank">
          <img class="cloudnativefolks-logo" src="/img/logos/Cloudnativefolks-Community-Logo.png" alt="cloudnativefolks logo">
        </a>
      </div>

      <hr />

      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          
        </p>
        <div class="card" style="width: 18rem;">
          <img src="img/logos/Profile Pic.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sangam Biradar</h5>
            <a href="https://twitter.com/sangamtwts?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @sangamtwts</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>          </div>
        <!-- Place this tag where you want the button to render. -->
        <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<a class="github-button" href="https://github.com/sangam14" data-size="large" aria-label="Follow @sangam14 on GitHub">Follow @sangam14</a>
          </div>
        
        
      
      </div>
    </div>
  </div>
</section>

<section class="section is-medium has-background-primary">
</section>
